<!DOCTYPE html>
<html ng-app="myAnyDoApp">
<head>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/MyScript.js"></script>
    <link href="scripts/bootstrap-theme.css" rel="stylesheet" />
    <link href="scripts/bootstrap.css" rel="stylesheet" />
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-controller="myAppCtrl" >
    <div  ng-switch on="mode">
        
        <!--Category view-->
        <div class="well" ng-switch-when="categ">
            <table class="table" >
                <tr>
                    <td align="center" ng-click="SetModeValue('addcateg')">+</td>
                </tr>
                <tr ng-repeat="category in categories">
                    <td ng-click="SetCatAndMode(category.Id, category.Name, 'taskView')" align="center">{{category.Name}}</td>
                    <td>
                        <button class="btn btn-default" id="btnDeleteCat" ng-click="SetCatAndMode(category.Id, category.Name, 'delcateg')" >DeleteCategory</button>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Add category viewe -->
        <div ng-switch-when="addcateg" id="addController">
            <div class="well">
                <input type="text" id="txtCategoryName" ng-model="$parent.CategoryName" />
                <button class="btn btn-default" id="btnAddCat" ng-click="InsertCategory()" >InsertCategory</button>
            </div>
        </div>

        <!--Delete category view-->
        <div ng-switch-when="delcateg">
            <h3>Are you shure you want to delete this list?</h3>
            <div class="btn-group">
                <button class="btn btn-default" ng-click="SetModeValue('categ')">Cancel</button>
                <button class="btn btn-default" ng-click="DeleteCategory()">Delete</button>
                
            </div>
        </div>

        <!--Delete task view-->
        <div ng-switch-when="delTask">
            <h3>Are you shure you want to delete this list?</h3>
            <div class="btn-group">
                <button class="btn btn-default" ng-click="SetModeValue('taskView')">Cancel</button>
                <button class="btn btn-default" ng-click="DeleteTask()">Delete</button>

            </div>
        </div>

        <!--Task viewe-->
        <div ng-switch-when="taskView">            
            <button ng-click="SetModeValue('categ', 'time')">To categories</button>
            
                <input type="text" placeholder="Search" ng-model="SearchText" />                      

            <h1>{{CatName}}</h1>
            <div class="container">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="SetVieweValue('list')">List</button>
                    <button class="btn btn-default" ng-click="SetVieweValue('time')">Time</button>
                    <button class="btn btn-default" ng-click="SetVieweValue('priority')">Priority</button>
                </div>
            </div>

            <div ng-switch on="viewe">

                <!--//list view-->
                <ul class="list-group" ng-switch-when="list">
                    <li ng-click="SetTimePriorMode('1','0','addtask')">+</li>
                    <li ng-click="SetTaskAndMode(task.Id, task.Name, 'subTaskView')" ng-repeat="task in tasks | filter : FilterTasks | filter : SearchText">
                    {{task.Name}}
                        <button style="padding-left:20em" class="btn btn-default" id="btnDeleteTask" ng-click="SetTaskAndMode(task.Id, task.Name, 'delTask')">DeleteTask</button>
                    </li>
                </ul>

                <!--//time view-->
                <table class="table" ng-switch-when="time">
                    <tr>
                        <td ng-repeat="time in times">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>{{time.Name}}</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td ng-click="SetTimePriorMode(time.Id,'0','addtask')">+</td>
                                    </tr>
                                    <tr ng-click="SetTaskAndMode(task.Id, task.Name, 'subTaskView')" ng-repeat="task in time.Tasks | filter:FilterTasks |filter:{TimeId:time.Id} | filter : SearchText">
                                        <td>
                                            {{task.Name}}
                                            <button style="padding-left:20em" class="btn btn-default" id="btnDeleteTask" ng-click="SetTaskAndMode(task.Id, task.Name, 'delTask')">DeleteTask</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>

                <!--//priority view-->
                <table class="table" ng-switch-when="priority">
                    <tr>
                        <td>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>HighPiority</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td ng-click="SetTimePriorMode('1','1','addtask')">+</td>
                                    </tr>
                                    <tr ng-click="SetTaskAndMode(task.Id, task.Name, 'subTaskView')" ng-repeat="task in tasks | filter:FilterTasks | filter:{HighPriority:'True'} | filter : SearchText">
                                        <td>
                                        {{task.Name}}
                                            <button style="padding-left:20em" class="btn btn-default" id="btnDeleteTask" ng-click="SetTaskAndMode(task.Id, task.Name, 'delTask')">DeleteTask</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>Normal</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td ng-click="SetTimePriorMode('1','0','addtask')">+</td>
                                    </tr>
                                    <tr ng-click="SetTaskAndMode(task.Id, task.Name, 'subTaskView')" ng-repeat="task in tasks | filter:FilterTasks | filter:{HighPriority:'False'} | filter : SearchText">
                                        <td>
                                        {{task.Name}}
                                            <button style="padding-left:20em" class="btn btn-default" id="btnDeleteTask" ng-click="SetTaskAndMode(task.Id, task.Name, 'delTask')">DeleteTask</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>            
        </div>

        <!-- Add task view -->
        <div ng-switch-when="addtask">
            <div class="well">
                <input type="text"  ng-model="$parent.TaskName" />
                <button class="btn btn-default" id="btnAddTask" ng-click="InsertTask()">InsertTask</button>
            </div>
        </div>

        <!-- SubTask View -->
        <div ng-switch-when="subTaskView">
            <button ng-click="SetModeValue('taskView', 'time')">To tasks</button>
            <h1>{{TaskName}}</h1>
            <br/>
            <h3>{{CatName}}</h3>
            <br/>
            <div class="btn-group">
                <button class="btn btn-default" ng-click="SetTveiwe('notes')">Notes</button>
                <button class="btn btn-default" ng-click="SetTveiwe('subTask')">SubTasks</button>                
            </div>
            <div ng-switch on="Tveiwe">
                <!-- subtask viewe -->
                <ul class="list-group" ng-switch-when="subTask">
                    <li ng-click="">+</li>
                    <li ng-click="" ng-repeat="subtask in subtasks | filter : FilterSubTasks">{{subtask.Name}}</li>
                </ul>
                <!-- Note viewe -->
                <ul class="list-group" ng-switch-when="notes">
                    <li ng-click="">+</li>
                    <li ng-click="" ng-repeat="note in notes | filter : FilterNotes">{{note.Name}}</li>
                </ul>
            </div>

        </div>

        <!-- Add subtask Viewe -->
        <div ng-switch-when="addSubtask">

        </div>

        <!-- Add subtask Viewe -->
        <div ng-switch-when="addNote">

        </div>

    </div>
</body>
</html>
